<div class="show-all__container">
    <table class="table">
        <tr>
          <th class="th">Question</th>
          <th class="th">Answer</th>
          <th class="th">Rate joke</th>
          <th class="th">Share</th>
          <th class="th">Zoom</th>
          <th class="th"></th>
        </tr>      
          <tr  *ngFor="let joke of this.jokeRepository.jokes">
            <td class="td show-all__container--cell">{{joke.jokeQuestion}}</td>
            <td class="td show-all__container--cell">{{joke.jokeAnswer}}</td>
            <td><ngx-star-rating class="show-all__container--rating" [rating]="joke.rating" (rated)="this.rate($event, joke)" [filledColor]="'#6b32a8'" [emptyColor]="'#6b32a8'"></ngx-star-rating>
            </td>
            <td class="show-all__container--icon">
              <a href="mailto:?subject={{this.mailSubject}}&body={{this.generateMailBody(joke)}}" target="_blank">
              <mat-icon>share</mat-icon>
            </a>
            </td>
            <td class="show-all__container--icon">
              <mat-icon mat-icon-button [matMenuTriggerFor]="menu" >zoom_in</mat-icon> 
              <mat-menu #menu="matMenu" class="show-all__container--menu">
                {{this.createMatMenuFormat(joke)}}
              </mat-menu>
            </td>
            <td class="show-all__container--icon">
              <mat-icon (click)="this.onDeleteJoke(joke)">delete_outline</mat-icon> 
            </td>        
          </tr>
    </table>
</div>