<div *ngIf="this.showAllJokes">
<app-show-all-jokes ></app-show-all-jokes>
</div>
<div class="container"  *ngIf="!this.showAllJokes">
  <div  class="container__label"> {{this.title}}</div>
  <button class="btn effect01" (click)="this.onHearJoke()"><span>YES</span></button>

  <div class="container__joke" *ngIf="this.showJoke ">
    <div >
      {{this.joke.jokeQuestion}}
    </div>
    <div class="container__joke--answer delayedShow" >
      {{this.joke.jokeAnswer}}
    </div>
    <app-heart-button (class)="container__joke--heart" (likeChanged)="this.onLikeJoke($event)"></app-heart-button>
  </div>
</div>

<div  class="container__show-all">
  <app-show-all-btn  (showAllJokesOutput)="showJokes($event)"></app-show-all-btn>
</div>